body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    
}

header {
    
    max-width: 1139px;
    margin: 38px auto 0 auto;
}

@media screen and (max-width: 786px) {
  header {
    width: 786px;
    background: rgba(0, 0, 0, 0.4);

  }
}
#logo {
    display: inline-block;
    color: white;
    font-size: 18px;
}
#top-menu {
    float: right;

}
.instagram-icon::before {
    content: url('../images/Inst.svg');
}

#top-menu a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
 #top-menu svg {
    margin-left: 24px;
    vertical-align: middle; 
}


#top-menu img {
    margin-left: 30px;
    margin-right: 6px;
    vertical-align: middle;
}

.sign-header {
    position:relative;
    top: -39px;
    left: 20px;
    width: 324px;
    height: 150px;
    background: linear-gradient(90deg, #AB47BC 0%, #7B1FA2 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.sign-header h1 {
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 31px;
}
.sign-icos {
    
    margin-top: 36px;
    text-align: center;
}
.sign-icos a {
    margin-left: 18px;
    margin-right: 18px;
}
.sign-classical {
    text-align: center;
    margin-top: -7px;
    margin-bottom: 33px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
}

#sign-up form label {
    margin-left: 26px;
    width: 28px;
}

#sign-up form input {
    width: 269px;
    margin-left: 11px;
    padding: 0px;
    margin-bottom: 46px;
}
#sign-up {
    background-color: white;
    width: 365px;
    min-height: 509px;
    margin: 160px auto 0;
}

.underline {
    border: none;
    color: lightgray;
    line-height: 22px;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px solid grey;
    outline: none;
}

.sub {
    background: transparent;
    border: none;
    color: #9C27B0;
    display: flex;
    margin: -2px auto 0 auto;
}
footer {
    
    max-width: 1136px;
    margin: 72px auto 20px auto;
    display: flex;
    justify-content: space-between;
}
footer a {
    color: white;
    margin-right: 34px;
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
#footer-left {
    
}

#footer-right {
    margin: 0px;
    font-family: FontAwesome;
    font-size: 10px;
    line-height: 11px;
    color: white;
    
/* !important
    */
}

